PORT=5000
MONGO_URI=mongodb://localhost:27017/ar-mirror

# LPDg8vJoFofFVXng
# kyawminkhant99_db_user
mongodb+srv://kyawminkhant99_db_user:LPDg8vJoFofFVXng@cluster0.u3yrom7.mongodb.net/?appName=Cluster0